@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logosec">
        <img src="~/img/bb_logo_cream.png" alt="Book Icon" class="book-icon hover-pointer"
             onclick="window.location.href = '@Url.Action("Index", "Home")';" />
    </div>

    <div class="main-header-search-area">
        <div class="search-container">
            <i class="fas fa-search main-search-icon"></i>
            <input type="text" placeholder="Search for books, authors, etc..." class="search-input" />
        </div>
    </div>

    <div class="logosec">
        <div class="mr-20 hover-pointer profile-dropdown-trigger">

            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn"
                     alt="dp">
            </div>
            <span class="username-display">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</span>


            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-user"></i> <a href="#">Profile</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i> <a href="#">Reviews</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


@* <header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logosec hover-pointer">
        <img src="~/img/asi-logo-invert.svg"
             style="width: 185px;" alt="logo"
             onclick="window.location.href = '@Url.Action("Index", "Home")';">
    </div>
    <div class="logosec">
        @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn hover-pointer"
                     alt="dp">
            </div>
            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-user"></i> <a href="#">Profile</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i> <a href="#">Reviews</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header> *@
